<a href="https://colab.research.google.com/github/sulaimanbehzad/Clustering_according_to_item_popularity/blob/main/price_estimation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estimating the price of each product
We will use Neural Network to predict the price of each product

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, normalize
from sklearn.neighbors import LocalOutlierFactor

In [2]:
orders = pd.read_csv('/content/drive/MyDrive/Clustering_according_to_item_popularity/orders.csv')
orders.head()

   ID_Order  ID_Customer  ...  city_name_fa Quantity_item
0   2714054       469662  ...    محمود آباد           1.0
1  11104039      3063877  ...        خرمدره           1.0
2   4228130      3184893  ...          قرچک           1.0
3  22225624      6888562  ...            قم           1.0
4   4068771      2533490  ...         تهران           1.0

[5 rows x 7 columns]

For the above purpose we will need these features:  
1. ID_Item
2. Quantity_item
3. Amount_Gross Order

In [3]:
orders = orders.filter(['ID_Item', 'Quantity_item', 'Amount_Gross_Order'])
orders.head()

   ID_Item  Quantity_item  Amount_Gross_Order
0    21386            1.0            597982.0
1   248497            1.0            980000.0
2    50144            1.0            229358.0
3    70208            1.0             16514.0
4    67627            1.0            133028.0

In [6]:
orders['Unit_Price'] = np.divide(orders['Amount_Gross_Order'], orders['Quantity_item'])
orders['Unit_Price']

0         597982.0
1         980000.0
2         229358.0
3          16514.0
4         133028.0
            ...
199995    172018.5
199996    600000.0
199997    450000.0
199998    193486.0
199999     55046.0
Name: Unit_Price, Length: 200000, dtype: float64

In [7]:
orders.head(30)

    ID_Item  Quantity_item  Amount_Gross_Order    Unit_Price
0     21386            1.0            597982.0  5.979820e+05
1    248497            1.0            980000.0  9.800000e+05
2     50144            1.0            229358.0  2.293580e+05
3     70208            1.0             16514.0  1.651400e+04
4     67627            1.0            133028.0  1.330280e+05
5    312932            1.0            290000.0  2.900000e+05
6     42365            1.0             55046.0  5.504600e+04
7    715680            1.0           2790000.0  2.790000e+06
8    102588            1.0             34862.0  3.486200e+04
9    658519            1.0           2600000.0  2.600000e+06
10   138296            1.0            469358.0  4.693580e+05
11    23927            1.0            108000.0  1.080000e+05
12   564993            1.0            525000.0  5.250000e+05
13  1707686            1.0             49000.0  4.900000e+04
14   183721            1.0             23853.0  2.385300e+04
15   376625            1.0            708440.0  7.084400e+05
16  1656648            2.0            229000.0  1.145000e+05
17   140331            1.0            717798.0  7.177980e+05
18  1671745            3.0             73211.0  2.440367e+04
19    36298            1.0            523761.0  5.237610e+05
20   193926            3.0             41284.0  1.376133e+04
21   574889            1.0            380000.0  3.800000e+05
22   449799            1.0             20000.0  2.000000e+04
23    67518            1.0             71560.0  7.156000e+04
24   882178            1.0             47706.0  4.770600e+04
25   294942            1.0            100000.0  1.000000e+05
26    10792            1.0           1657407.0  1.657407e+06
27    74547            1.0            465780.0  4.657800e+05
28    32475            1.0             73394.0  7.339400e+04
29     9556            1.0            256881.0  2.568810e+05

Let's inspect the database

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID_Item             200000 non-null  int64
 1   Quantity_item       200000 non-null  float64
 2   Amount_Gross_Order  200000 non-null  float64
 3   Unit_Price          200000 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 6.1 MB

In [10]:
orders.isnull().sum()

ID_Item               0
Quantity_item         0
Amount_Gross_Order    0
Unit_Price            0
dtype: int64